.container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.header {
  position: absolute;
  height: 45px;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  background: linear-gradient(180deg, rgba(183, 242, 255, 0.418) 10%, rgba(64, 153, 183, 0.578) 51%, rgba(40, 255, 237, 0.528) 82%, rgba(29, 183, 194, 0.359) 100%);
  align-content: center;
  text-align: left;
  color: white;
  font-weight: 500 !important;
  font-size: 16px !important;

  box-shadow: 0px 0px 7px 1px #1C4D90;
}

.header button {
  border: none !important;
  height: 100%;
  margin-left: 12px;
  background: transparent;
  color: white;
  border: none !important;
  box-shadow: none;
  font-size: 14px
}

.header img {
  height: 32px;
  margin-right: 4px;
  margin-left: 10px;
}

.title {
  color: #99E3BA;
}

.avatar-container {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-content: center;
  box-shadow: 1px 1px 10px 1px #2D7393;
  border-radius: 10px;
  align-items: center;
  background: linear-gradient(311deg, rgba(0, 207, 34, 1) 0%, rgba(219, 255, 219, 1) 73%);
}

.avatar-container.xlarge {
  width: 200px;
  height: 200px;
}

.avatar-container.large {
  width: 140px;
  height: 140px;
}

.avatar-container.medium {
  width: 100px;
  height: 100px;
}

.avatar-container.small {
  width: 80px;
  height: 80px;
}


.avatar-container.busy {
  background: linear-gradient(311deg, rgba(245, 10, 10, 1) 24%, rgba(255, 204, 204, 1) 73%);
}

.avatar-container.away {
  background: linear-gradient(311deg, rgba(245, 139, 10, 1) 0%, rgba(255, 233, 219, 1) 73%);
}

.avatar-container img {
  width: 88%;
  height: 88%;
  border: 1px solid #aaaaaa;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.window-body {
  height: 500px;
  overflow: scroll;
  background: linear-gradient(0deg, rgba(187, 225, 250, 1) 0%, rgba(251, 253, 255, 1) 41%, rgba(219, 247, 255, 1) 100%) !important;
}

.group {
  width: 300px;
  gap: 12px !important;
}

.status-select {
  align-self: start;
  display: flex;
  gap: 8px;
  align-items: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.avatar-list {
  gap: 8px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.avatar-list img {
  width: 100px;
  height: 100px;
  border: 1px solid #7bb3cc;
  cursor: pointer;
}

.avatar-list img:hover {
  opacity: 0.8;
}

.avatar-list button {
  padding: 4px !important;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #0ac2f5;
  background: linear-gradient(311deg, rgba(74, 172, 199, 1) 24%, rgba(224, 255, 255, 1) 64%) !important;
}

.avatar-list button:focus {
  background: linear-gradient(311deg, rgba(0, 195, 255, 1) 24%, rgba(156, 255, 253, 1) 64%) !important;
}

.avatar-list-container {
  max-width: 500px;
  position: absolute !important;
  top: 15%;
}

.separation-line {
  border-top: 1px solid #9fc3dcff;
  width: 100%;
  margin: 12px 0;
}

@media screen and (max-width: 600px) {
  .avatar-list-container {
    top: 10%;
    left: 0;
  }
}