#root {
  text-align: center;

  height: 100vh;
  width: 100vw;
  font-family: "Segoe UI", SegoeUI, "Noto Sans", sans-serif;

  --w7-w-bg: none;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: #8AD5F5;
  background: linear-gradient(180deg, rgba(138, 213, 245, 1) 0%, rgba(251, 253, 255, 1) 50%, rgba(215, 253, 255, 1) 100%);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button.blue-bg:not(:disabled),
select {
  background: linear-gradient(0deg, rgba(187, 225, 250, 1) 0%, rgba(251, 253, 255, 1) 41%, rgba(219, 247, 255, 1) 100%) !important;
  color: #234079 !important;
}

input,
button.blue-bg:not(.btn-small) {
  font-size: 16px !important;
}

button.blue-bg:not(.btn-small),
input {
  height: 40px !important;
  border-radius: 6px !important;
}

button.blue-bg,
select,
input {
  border-color: #8AD5F5 !important;
  border-radius: 4px !important;
}

label {
  color: #0d388f;
  font-size: 16px !important;
  text-align: start;
}

input {
  padding: 4px 8px 5px !important;
}

select {
  padding: 2px !important;
}