.chat-view {
    display: flex;
    gap: 10px;
    background-image: url("../assets/frutiger-wallpaper.jpeg");
    background-size: cover;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.conversation-container {
    display: flex;
    gap: 10px;
    height: 100%
}

.chat-window {
    width: 350px;
}

.conversation .window-body {
    background: #d7f8ff61 !important;
    height: 600px;
}

.window-body {
    overflow: hidden;
}

.conversation-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.conversation-right {
    display: flex;
    width: 200px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.conversation-right .public-chat {
    width: 85%;
    padding: 8px 0;
    gap: 8px;
    display: flex;
    flex-direction: column;
}

.conversation-right .connected-users {
    font-weight: bold;
    text-align: left;
}

.chat-input-container {
    flex: 1;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    gap: 0;
    border: 1px solid #343C8F;
    background-color: white
}

.chat-input {
    justify-content: end;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%
}

.chat-window .title-bar-text {
    color: #343C8F;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.message-content {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.chat-window .title-bar-text img {
    width: 27px;
    height: 20px;
}

.chat-window .title-bar-text span {
    font-weight: bold;
}

.chat-window .window-body {
    display: flex;
    flex-direction: column;
}

.chat-window.conversation {
    width: 60%;
    max-width: 900px;
    position: absolute;
    right: 10%;
    top: 60px;
}

.user-infos-container {
    flex-direction: column;
    height: 170px;
    display: flex;
    padding: 8px;
    overflow: hidden;
    gap: 10px
}

.user-infos {
    text-align: left;
    padding: 8px 16px;
    word-break: break-word;
}

.info {
    color: #343C8F;
}

.user-info-username {
    font-size: 24px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

}

.user-info-status {
    font-size: 12px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    text-align: start;
}


.info.small {
    font-size: 16px;
    font-weight: 300;
}

.section-title {
    font-size: 16px;
    color: #343C8F;
    font-weight: 300;
    padding: 8px;
}

.chat-sections-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: start;
}

.chat-sections-container section {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: start;
}

.section-content {
    padding: 0;
    display: flex;
    flex-direction: column;
    /* gap: 4px; */
}

.section-content.section-user-connected {
    overflow: visible;
}

.group-chat-container {
    padding: 0;
    width: 100%;
    flex-direction: row;
    align-items: center;
    height: 35px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 6px;
}

.group-chat-container.selected {
    border: 1px solid lightblue;
    background: linear-gradient(0deg, rgb(201 233 255) 4%, rgb(153 216 254) 17%, rgba(212, 238, 252, 1) 56%, rgba(252, 254, 255, 1) 85%, rgba(219, 242, 255, 1) 97%);
}

.group-chat-container:hover:not(.selected) {
    border: 1px solid lightblue;
    background: linear-gradient(0deg, rgb(172 185 194 / 35%) 4%, rgb(160 194 217 / 62%) 17%, rgba(235, 247, 252, 1) 56%, rgba(252, 254, 255, 1) 85%, rgb(237 250 255 / 69%) 97%);
}

.chat-sections-container .unread {
    animation: clignote 1s infinite;
    border: 1px solid rgb(230, 200, 173);
    background: linear-gradient(0deg, rgb(255 230 201) 4%, rgb(254, 176, 153) 17%, rgb(252 228 212) 56%, rgba(252, 254, 255, 1) 85%, rgb(255 237 219) 97%);
}

.unread-badge {
    background-color: #ff5d2cd4;
    color: white;
    font-size: 10px;
    font-weight: bold;
    border-radius: 20%;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: 10px;
}

.group-chat-container img {
    width: 20px;
    height: 20px;
    margin-left: 13px;
}

.section-content span {
    color: gray;
}

.user-list-container {
    width: 100%;
    padding: 0;
}

.section-user-connected {
    width: 100%;
    height: 30px;
    border-radius: 4px;
    display: flex;
    gap: 4px;
    align-items: center;
    cursor: pointer;
    border: 1px solid transparent;

    text-wrap-mode: nowrap;
    overflow: hidden;
}

.section-user-connected.selected {
    border: 1px solid lightblue;
    background: linear-gradient(0deg, rgb(201 233 255) 4%, rgb(153 216 254) 17%, rgba(212, 238, 252, 1) 56%, rgba(252, 254, 255, 1) 85%, rgba(219, 242, 255, 1) 97%);
}

.section-user-connected:hover:not(.selected) {
    border: 1px solid lightblue;
    background: linear-gradient(0deg, rgb(172 185 194 / 35%) 4%, rgb(160 194 217 / 62%) 17%, rgba(235, 247, 252, 1) 56%, rgba(252, 254, 255, 1) 85%, rgb(237 250 255 / 69%) 97%);
}

.section-user-status {
    font-size: 6px;
    margin-right: 4px;
    margin-left: 13px;
}

.section-user-bio {
    font-size: 13px;
}

.messages-container {
    flex: 2;
    border: 1px solid #343C8F;
    margin-bottom: 10px;
    border-radius: 25px;
    background-color: white;
}

.messages-content {
    text-align: left;
    padding: 8px;
    overflow-y: auto;
    height: 325px;
    word-break: break-all;
}

.messages-content p {
    font-size: 16px;
}

.chat-title {
    display: flex;
    align-items: center;
    gap: 4px;
}

.chat-title-main {
    font-weight: 400;
    color: #343C8F;
}

.chat-input {
    height: 78% !important;
}

.chat-input-container .chat-input textarea {
    width: 100% !important;
    align-self: start;
    height: 100%;
    border-radius: 0 0 25px 25px !important;
    border: none;
    resize: none;
    font-size: 20px;
    padding: 16px;
    font-family: monospace;
}

.chat-input-container button {
    background: linear-gradient(147deg, rgba(255, 255, 255, 1) 0%, rgba(174, 217, 255, 1) 100%) !important;
    color: #343C8F;
    border: 1px solid #343C8F !important;
    margin-right: 16px;
    width: 180px;
    height: 80px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
}


.container-header {
    align-content: center;
    overflow: hidden;
    text-align: left;
    max-height: 40px;
    height: 100%;
    background-color: blue;
    border-radius: 25px 25px 0 0;
    background: linear-gradient(0deg, rgba(182, 216, 255, 1) 5%, rgba(255, 255, 255, 1) 30%, rgba(83, 209, 255, 1) 100%);
    border-bottom: 1px solid #343C8F;

    padding: 0 16px;

    color: #343C8F;
    font-size: 14px;
    font-weight: 300;
}


.container-header button {
    height: 100%;
    width: 40px !important;
    min-width: inherit;
    padding: 0;
    margin: 0;
    box-shadow: none;
    transition: none !important;
    border: none !important;

    background: linear-gradient(0deg, rgba(182, 216, 255, 1) 5%, rgba(255, 255, 255, 1) 30%, rgba(83, 209, 255, 1) 100%) !important;
    font-size: 24px;
}

.container-header button:hover {
    transition: none !important;
    box-shadow: none !important;

}

.conversation-container {
    padding: 4px 8px;
}

@keyframes horizontal-shaking {
    0% {
        transform: translateX(0)
    }

    25% {
        transform: translateX(5px)
    }

    50% {
        transform: translateX(-5px)
    }

    75% {
        transform: translateX(5px)
    }

    100% {
        transform: translateX(0)
    }
}


@keyframes clignote {
    0% {
        background: linear-gradient(0deg, rgb(172 185 194 / 35%) 4%, rgb(160 194 217 / 62%) 17%, rgba(235, 247, 252, 1) 56%, rgba(252, 254, 255, 1) 85%, rgb(237 250 255 / 69%) 97%);
        border: 1px solid lightblue;
    }

    100% {
        background: linear-gradient(0deg, rgb(255 230 201) 4%, rgb(254 231 153) 17%, rgb(252 228 212) 56%, rgba(252, 254, 255, 1) 85%, rgb(255 237 219) 97%);
        border: 1px solid rgb(230, 200, 173);
    }
}

.wizz-animation {
    animation: horizontal-shaking 0.2s ease-in-out infinite;
}

@media screen and (max-width: 900px) {
    .chat-window.conversation {
        width: 95%;
        /* max-width: 900px; */
        position: absolute;
        right: 0;
        top: 0;
    }

    .window-body {
        height: 85vh !important;
    }

    .chat-window {
        width: 95%;
        max-width: none;
    }
}

@media screen and (max-width: 1500px) {
    .chat-window.conversation {
        right: 4%;

    }
}